fastapi
uvicorn[standard]
requests

sqlalchemy
psycopg2-binary

python-dotenv

neo4j
pgvector

sentence-transformers

pypdf
python-docx
python-pptx

pandas
openpyxl

websockets
pydantic

python-multipart

google-generativeai
deepgram-sdk==3.5.1
websockets

python-docx
reportlab

docx2pdf